# IDEA
.idea/
out/
output/
**/build/

**/gradle_build/
*.iml
**/*.iml
*.ipr
*.iws


# OSX
.DS_Store
.AppleDouble
.LSOverride

## Java
# either the 3rd party diff or IDEA:
*.java.orig

# Package Files
**/build/libs/*.jar
*.war
*.ear

#Gradle
.gradle
*/.gradle

# Logging
*.log
*.log.gz
*.log-*.gz
logs/

*.jar
billing/target/
billing/target/**
angularWorkSpace
billing/target/generated-sources/annotations/com/paymentchain/billing/common/InvoiceRequestMapperImpl.java
billing/target/generated-sources/annotations/com/paymentchain/billing/common/InvoiceResposeMapperImpl.java
billing/target/surefire-reports/com.paymentchain.billing.BasicApplicationTests.txt
billing/target/surefire-reports/TEST-com.paymentchain.billing.BasicApplicationTests.xml
**/*class
billing/target/classes/com/paymentchain/billing/InvoiceApplication.class
billing/target/classes/com/paymentchain/billing/InvoiceApplication$1.class
billing/target/classes/com/paymentchain/billing/common/InvoiceRequestMapper.class
billing/target/classes/com/paymentchain/billing/common/InvoiceRequestMapperImpl.class
billing/target/classes/com/paymentchain/billing/common/InvoiceResposeMapper.class
billing/target/classes/com/paymentchain/billing/common/InvoiceResposeMapperImpl.class
billing/target/classes/com/paymentchain/billing/common/SecurityConfiguration.class
billing/target/classes/com/paymentchain/billing/common/StandarizedApiExceptionResponse.class
billing/target/classes/com/paymentchain/billing/controller/InvoiceRestController.class
billing/target/classes/com/paymentchain/billing/dto/InvoiceRequest.class
billing/target/classes/com/paymentchain/billing/dto/InvoiceResponse.class
billing/target/classes/com/paymentchain/billing/entities/Invoice.class
billing/target/classes/com/paymentchain/billing/exception/ApiExceptionHandler.class
billing/target/classes/com/paymentchain/billing/exception/BusinessRuleException.class
billing/target/classes/com/paymentchain/billing/respository/InvoiceRepository.class
billing/target/test-classes/com/paymentchain/billing/BasicApplicationTests.class
billing/target/classes/com/paymentchain/billing/InvoiceApplication.class
